<style>
table{
  border-collapse: initial; 
  border-spacing: 2px; 
}
input{
  margin-bottom:5px;
  margin-right:5px;
}
h4{
  border-left: 3px solid #228B22;
  padding-left:2px;
}

#main-contents{
width:700px;
margin-right: auto;
margin-left : auto;
}
#edit{
  padding:10px;
  float:left;
  background-color:#F5F5F5;
  border: 1px dotted #D3D3D3;
  padding-bottom:20px;
  margin-bottom:20px;
  width:600px;
  border-radius: 5px;
}
#coloring{
  float:left;
  padding-right:60px;
}
#cell-padding{
  float:left;
}
#input-text{
  width:100%;
  float:left;
  margin-top:20px;
}
#output-html{
  width:600px;
  padding:10px;
  float:left;
  background: #FFF8DC;
  border: 1px dotted #D3D3D3;
  border-radius: 5px;
}
#input-plus{
  margin-left:33px;
}

#preview{
  float:right;
  margin-right:10px;
  margin-bottom:5px;
}

</style>
<script>
var cnt = 5;

function inputPlus(){
  $("#coloring").append('<label>名前:</label><input class="form-control" type="text" id="name-' + cnt + '" name="name[' + cnt +']" onKeyPress="return submitStop(event);"><input class="color-' + cnt + '" type="color" list="exlist" name="color[' + cnt +']" onChange="getColor(' + cnt +');" ><br>');
  cnt = cnt + 1;
}

function submitStop(e){
  if (!e) var e = window.event;

  if(e.keyCode == 13)
    return false;
}

function getColor(cnt){
  var colorCode = $('.color-' + cnt).val();
  $('#name-'+cnt).css('color',colorCode);
}

</script>

<% provide(:title, "Screate") %>
<div id="main-contents">
  <h2>エクセル テーブルHTML変換</h2>
  <br>
  エクセルのテーブルをHTMLのテーブルに変換できます。<br>
  テーブルには自動的に番号が振られます。<br>
  <br>
  <%= form_tag("/screate", :method => "post")%>

  <div id="edit">
    <h4>オプション</h4>
    <div id="coloring" class="form-inline">
      <h5>名前と文章に色付け</h5>
      <% cnt = 0 %>
      <% limit = 4 %>
      <% if @names %>
        <% @names.each{|n| %>
        <% unless n[1] == "" %>
        <label>名前:</label><input class="form-control" type="text" id="name-<%=cnt%>" name="name[<%= cnt %>]" value="<%=n[1]%>" style="color:<%=@colors[n.first]%>" onKeyPress="return submitStop(event);">
      <input class="color-<%= cnt %>" type="color" list="exlist" value="<%=@colors[n.first]%>" name="color[<%= cnt %>]" onChange="getColor(<%=cnt%>);" >
      <br>
      <% cnt += 1 %>
    <% end %>
    <% } %>
      <% limit = 1 %>
    <% end %>
      <% (cnt..(cnt+limit)).each{|cnt| %>
        <label>名前:</label><input class="form-control" type="text" id="name-<%=cnt%>" name="name[<%= cnt %>]" onKeyPress="return submitStop(event);"><input class="color-<%= cnt %>" type="color" list="exlist" name="color[<%= cnt %>]" onChange="getColor(<%=cnt%>);" >
      <br>
    <% } %>
      <datalist id="exlist">
        <option value="#000000"></option>
        <option value="#FF0000"></option>
        <option value="#0000FF"></option>
        <option value="#006600"></option>
        <option value="#7E0021"></option>
        <option value="#9933FF"></option>
        <option value="#DAA520"></option>
      </datalist>
      <span id="input-plus" class="btn btn-sm btn-info" onclick="inputPlus()">入力欄を追加</span><br>
    </div>

    <div id="cell-padding">
      <h5>セル内の余白</h5>
      <select name="padding">
        <% (0..10).each{|c|%><option value="<%=c%>" <%if c == @padding.to_i %>selected<% end%>><%=c%></option><% } %>
      </select>

    </div>
    <div id="input-text">
      <h4>エクセル文入力</h4>
      <textarea name="text" cols="110" rows="20" style="font-size:10px;"><%= @text %></textarea>
      <br>
      <%= submit_tag("変換", class:"btn btn-success") %><br>
    </div>
  </div>

  <div id="output-html">
    <h4>変換済HTML<button type="button" class="btn btn-sm btn-primary" id="preview" data-toggle="modal" data-target="#myModal">プレビュー</button></h4>
    <textarea cols="110" rows="20" style="font-size:10px;"><%= @html_text %></textarea>
    
  </div>

  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">プレビュー</h4>
        </div>
        <div class="modal-body"><%=raw @html_text %></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">閉じる</button>
        </div>
      </div>
    </div>
  </div>
</div>
