<%= stylesheet_link_tag "screate/main", :media => "all" %>
<style>
table.sample{
  border: 0px;
  border-collapse: collapse;
  border-spacing: 0px;
  border-right: 1px dotted #DCDCDC;
}
table.sample td{padding:5px;border-right: 0px; border-left: 0px; border-bottom: 1px solid #A9A9A9;}
td.sample{
  background-color: #DCDCDC;
}
td.sample:nth-of-type(1){ background-color: #DCDCDC;border-right: 1px solid #A9A9A9;}
td.sample:nth-of-type(2){ background-color: #F5F5F5;border-right: 1px solid #A9A9A9;}
</style>
<script>
$(function() {
  $('#sample').popover({
      html: true, // HTMLオプションをtrueにする
      content: '<table class="sample" border="1"><% (1..5).each{|c| %><tr><td class="sample">00<%=c%></td><td class="sample">名前</td><td>セリフ セリフ セリフ セリフ セリフ </td></tr><% } %></table>'
        });
        });

var cnt = 5;
var multi_cnt = []

function inputPlus(){
  $("#coloring-plus").append('<input class="form-control name-'+cnt+'" type="text" name="name[' + cnt +']" style="width:160px;" placeholder="名前" onKeyPress="return submitStop(event);"> <input class="color-' + cnt + ' color-picker" type="color" list="exlist" name="color[' + cnt +']" onChange="getColor(' + cnt +');" > <select class="form-control" name="sex['+ cnt +']"><option value="men">男性</option><option value="women">女性</option><option value="humon">不問</option></select> <input class="form-control" type="text" id="data-'+cnt+'" style="width:200px;" name="data['+ cnt +']" placeholder="説明" onKeyPress="return submitStop(event);"> <input type="checkbox" name="multi['+cnt+']" id="multi-'+cnt+'" onclick="multi('+cnt+')"<% if @style_change %> checked<%end%>>被<br><div class="multi-plus-'+cnt+'"></div>');
  cnt = cnt + 1;
}

function submitStop(e){
  if (!e) var e = window.event;

  if(e.keyCode == 13)
    return false;
}

function getColor(cnt){
  var colorCode = $('.color-' + cnt).val();
  $('.name-'+cnt).css('color',colorCode);
}

function multi(n){
  if($('#multi-' + n).prop('checked')){
    $('.multi-plus-' + n).show();
  }else{
    $('.multi-plus-' + n).hide();
  }
  if($('.multi-plus-'+ n).text() == ''){
    multi_cnt[n] = 0;
  $('.multi-plus-' + n).append(' Ｌ<input class="form-control name-'+n+'" type="text" name="multi-name['+n+'][0]" style="width:160px;" placeholder="名前" onKeyPress="return submitStop(event);"><select class="form-control" name="multi-sex['+n+'][0]"><option value="men">男性</option><option value="women">女性</option><option value="humon">不問</option></select> <input class="form-control" type="text" id="multi-data-'+n+'" style="width:200px;" name="multi-data['+n+'][0]" placeholder="説明" onKeyPress="return submitStop(event);"><button type="button" class="btn btn-xs btn-primary multi-btn-'+n+'-0" onClick="multiPlus('+n+');">+</button><br>');
  }
  getColor(n);
}

function multiPlus(n,m = 0){
  if(!multi_cnt[n]){
    multi_cnt[n] = m;
  }
  $('.multi-btn-'+n+'-'+multi_cnt[n]).hide();
  multi_cnt[n] += 1;
  var m_n = multi_cnt[n];
  $('.multi-plus-' + n).append(' Ｌ<input class="form-control name-'+n+'" type="text" name="multi-name['+n+']['+m_n+']" style="width:160px;" placeholder="名前" onKeyPress="return submitStop(event);"><select class="form-control" name="multi-sex['+n+']['+m_n+']"><option value="men">男性</option><option value="women">女性</option><option value="humon">不問</option></select> <input class="form-control" type="text" id="multi-data-'+n+'-'+m_n+'" style="width:200px;" name="multi-data['+n+']['+m_n+']" placeholder="説明" onKeyPress="return submitStop(event);"><button type="button" class="btn btn-xs btn-primary multi-btn-'+n+'-'+m_n+'" onClick="multiPlus('+n+','+m_n+');">+</button><br>');
  getColor(n);
}

</script>

<% provide(:title, "Screate") %>
<div id="main-contents">
  <div id="screate-top">
    <h2>エクセル テーブルHTML変換</h2>
    <br>
    エクセルのテーブルをHTMLのテーブルに変換。<br>
    テーブルには自動的に番号挿入。<br>
  </div>

  <% if @text.present? %>
  <%= form_tag("/screate_preview", :method => "post", :target => ["_blank"]) do%>
  <div id="output-html">
    <h4>変換済HTML<button type="submit" class="btn btn-sm btn-primary" id="preview">プレビュー</button></h4>
    <textarea name="html" cols="110" rows="20" style="font-size:10px;"><%= @html_text %></textarea>
  </div>
  <% end %>
  <% end %>

  <%= form_tag("/screate", :method => "post") do%>

  <div id="edit">
    <h4>オプション</h4>
    <div id="option">
      <div id="cell-padding" class="form-inline">
        <h5>セル内の余白</h5>
        <select name="padding" class="form-control">
          <% (0..10).each{|c|%><option value="<%=c%>" <%if c == @padding.to_i || @padding.blank? && c == 3 %>selected<% end%>><%=c%></option><% } %>
        </select> px

      </div>
      <div id="style-change">
        <h5><input type="checkbox" name="style_change"<% if @style_change %> checked<%end%>>スタイルの変更</h5>
        <button type="button" class="btn btn-sm btn-primary" id="sample" data-toggle="popover" title="サンプル" data-placement="bottom">サンプル</button>
      </div>
    </div>
    <div id="coloring" class="form-inline">
      <h4>タイトル</h4>
        <input class="form-control" type="text" id="title" name="title" value="<%if @title%><%=@title%><%end%>" style="width:100%;">
      <h4>原作・出典等</h4>
        <textarea class="form-control" name="other" cols="70" rows="7"><%= @other %></textarea>
      <h4>名前と文章に色付け</h4>
    <% cnt = 0 %>
    <% limit = 4 %>
    <% if @names.present? %>
      <% @names.each{|n| %>
        <% unless n[1] == "" %>
        <input class="form-control name-<%=cnt%>" type="text" name="name[<%= cnt %>]" value="<%=n[1]%>" style="color:<%=@colors[n.first]%>;width:160px;" onKeyPress="return submitStop(event);">
        <input class="color-<%= cnt %> color-picker" type="color" list="exlist" value="<%=@colors[n.first]%>" name="color[<%= cnt %>]" onChange="getColor(<%=cnt%>);" >
        <select class="form-control" name="sex[<%= cnt %>]">
          <option value="men" <% if @sex[n.first] == "men"%>selected<%end%>>男性</option>
          <option value="women" <% if @sex[n.first] == "women"%>selected<%end%>>女性</option>
          <option value="humon" <% if @sex[n.first] == "humon"%>selected<%end%>>不問</option>
        </select>
        <input class="form-control" type="text" id="data-<%=cnt%>" name="data[<%= cnt %>]" style="width:200px;" value="<%=@datas[n.first]%>" placeholder="説明" onKeyPress="return submitStop(event);">
          <% if @multi_check.present?%>
        <input type="checkbox" name="multi[<%=cnt%>]" id="multi-<%=cnt%>" onclick='multi(<%=cnt%>)'<% if @multi_check[cnt.to_s]%> checked<%end%>>被<br>
        <div class="multi-plus-<%=cnt%>"><%
            nil_flag = true
            if @multi_names.present? && @multi_check[cnt.to_s]
                if @multi_names[cnt.to_s].present?
                  multi_cnt = 0 
                  @multi_names[cnt.to_s].each{|m_n|
                    if multi_cnt != 0 && m_n[1].present?
            %><br><%
                    end
                    if m_n[1].blank?
                      if @multi_names[cnt.to_s].length - 1 == multi_cnt
            %>Ｌ<input class="form-control name-<%=cnt%>" type="text" name="multi-name[<%=cnt%>][0]" style="width:160px;" placeholder="名前" onKeyPress="return submitStop(event);">
            <select class="form-control" name="multi-sex[<%=cnt%>][0]">
              <option value="men">男性</option>
              <option value="women">女性</option>
              <option value="humon">不問</option>
            </select> 
            <input class="form-control" type="text" id="multi-data-<%=cnt%>" style="width:200px;" name="multi-data[<%=cnt%>][0]" placeholder="説明" onKeyPress="return submitStop(event);"><%
          %><button type="button" class="btn btn-xs btn-primary multi-btn-<%=cnt%>-<%=multi_cnt%>" onClick="multiPlus(<%=cnt%>,<%=multi_cnt%>);">+</button><br><%  
                      end
                      multi_cnt += 1
                      next
                    end
      %>Ｌ<input class="form-control name-<%=cnt%>" type="text" name="multi-name[<%=cnt%>][<%=multi_cnt%>]" placeholder="名前" value="<%=m_n[1]%>" style="color:<%=@colors[n.first]%>;width:160px;" onKeyPress="return submitStop(event);">
        <select class="form-control" name="multi-sex[<%=cnt%>][<%=multi_cnt%>]">
          <option value="men" <% if @multi_sex[cnt.to_s][m_n.first] == "men"%>selected<%end%>>男性</option>
          <option value="women" <% if @multi_sex[cnt.to_s][m_n.first] == "women"%>selected<%end%>>女性</option>
          <option value="humon" <% if @multi_sex[cnt.to_s][m_n.first] == "humon"%>selected<%end%>>不問</option>
          </select> 
          <input class="form-control" type="text" id="multi-data-<%=cnt%>-<%=multi_cnt%>" style="width:200px;" name="multi-data[<%=cnt%>][<%=multi_cnt%>]" value="<%=@multi_datas[cnt.to_s][m_n.first]%>" placeholder="説明" onKeyPress="return submitStop(event);">
                    <% if @multi_names[cnt.to_s].length - 1 == multi_cnt %>
          <button type="button" class="btn btn-xs btn-primary multi-btn-<%=cnt%>-<%=multi_cnt%>" onClick="multiPlus(<%=cnt%>,<%=multi_cnt%>);">+</button><br><%  
                    end
                    multi_cnt += 1
                  }
                end
              end
        %></div>
          <% else %>
        <input type="checkbox" name="multi[<%=cnt%>]" id="multi-<%=cnt%>" onclick='multi(<%=cnt%>)'>被<br>
        <div class="multi-plus-<%=cnt%>"></div>
          <% end %>
          <% cnt += 1 %>
        <% end %>
      <% } %>
      <% limit = 1 %>
    <% end %>
      <% (cnt..(cnt+limit)).each{|cnt| %>
        <input class="form-control name-<%=cnt%>" type="text" name="name[<%= cnt %>]" style="width:160px;" placeholder="名前" onKeyPress="return submitStop(event);">
        <input class="color-<%= cnt %> color-picker" type="color" list="exlist" name="color[<%= cnt %>]" onChange="getColor(<%=cnt%>);" >
        <select class="form-control" name="sex[<%= cnt %>]">
          <option value="men">男性</option>
          <option value="women">女性</option>
          <option value="humon">不問</option>
        </select>
        <input class="form-control" type="text" id="data-<%=cnt%>" style="width:200px;" name="data[<%= cnt %>]" placeholder="説明" onKeyPress="return submitStop(event);">
        <input type="checkbox" name="multi[<%=cnt%>]" id="multi-<%=cnt%>" onclick='multi(<%=cnt%>)'>被
        <br>
        <div class="multi-plus-<%=cnt%>"></div>
    <% } %>
      <div id="coloring-plus" class="form-inline">
      </div>
      <span id="input-plus" class="btn btn-sm btn-info" onclick="inputPlus()">入力欄を追加</span><br>
    </div>
      <datalist id="exlist">
        <option value="#000000"></option>
        <option value="#FF0000"></option>
        <option value="#0000FF"></option>
        <option value="#006600"></option>
        <option value="#7E0021"></option>
        <option value="#9933FF"></option>
        <option value="#DAA520"></option>
      </datalist>

    <div id="input-text">
      <h4>エクセル文入力</h4>
      <textarea  class="form-control" name="text" cols="80" rows="20"><%= @text %></textarea>
      <br>
      <%= submit_tag("変換", class:"btn btn-success") %><br>
    </div>
  <% end %>

  </div>
</div>
