<style>
  table{
    border-collapse: initial; 
    border-spacing: 2px; 
  }

  input{
    margin-bottom:5px;
    margin-right:5px;
    }
</style>
<script>
var cnt = 5;

function inputPlus(){
  $(".coloring").append('<label>名前:</label><input class="form-control" type="text" id="name-' + cnt + '" name="name[' + cnt +']" onKeyPress="return submitStop(event);"><input class="color-' + cnt + '" type="color" list="exlist" name="color[' + cnt +']" onChange="getColor(' + cnt +');" ><br>');
  cnt = cnt + 1;
}

function submitStop(e){
  if (!e) var e = window.event;

  if(e.keyCode == 13)
    return false;
}

function getColor(cnt){
  var colorCode = $('.color-' + cnt).val();
  $('#name-'+cnt).css('color',colorCode);
}

</script>

<% provide(:title, "Screate") %>
<div id="main_contents" class="col-sm-10 col-sm-offset-1">
  <h2>エクセル テーブルHTML変換</h2>
  <br>
  エクセルのテーブルをHTMLのテーブルに変換できます。<br>
  テーブルには自動的に番号が振られます。<br>
  <br>
  <h3>エクセルテキスト</h3>
  <%= form_tag("/screate", :method => "post")%>
  <h4>名前と文章に色付け</h4>
  <div class="coloring form-inline">
  <% (0..4).each{|cnt| %>
    <label>名前:</label><input class="form-control" type="text" id="name-<%=cnt%>" name="name[<%= cnt %>]" onKeyPress="return submitStop(event);"><input class="color-<%= cnt %>" type="color" list="exlist" name="color[<%= cnt %>]" onChange="getColor(<%=cnt%>);" >
    <datalist id="exlist">
    <option value="#000000"></option>
    <option value="#FF0000"></option>
    <option value="#0000FF"></option>
    <option value="#006600"></option>
    <option value="#7E0021"></option>
    <option value="#9933FF"></option>
    <option value="#DAA520"></option>
    </datalist><br>
   <% } %>
  </div><br>
  <span id="input-plus" class="btn btn-sm btn-info" onclick="inputPlus()">入力欄を追加</span><br>
  <br>
  <h4>エクセル文入力</h4>
  <textarea name="text" cols="110" rows="20" style="font-size:10px;"><%= @text %></textarea>
  <br>
  <%= submit_tag("変換", class:"btn btn-success") %><br>
  <br>
  <hr>
  <br>
  <h3>HTML</h3>
  <textarea cols="110" rows="20" style="font-size:10px;"><%= @html_text %></textarea>
<br>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">プレビュー</button>

  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">プレビュー</h4>
        </div>
        <div class="modal-body"><%=raw @html_text %></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">閉じる</button>
        </div>
      </div>
    </div>
  </div>
</div>
