<div id="header">
<div class="form-inline">
  <a href="/" class="btn btn-info btn-sm">HOME</a>
<form class="form-horizontal" name="search" action='search' method='get'>
  <select name='scenario_list' class="form-control">
    <option value='jericho941' <%
      if @scenario_list == "jericho941"
      %>selected<%
    end
    %>>jericho941</option>
    <option value='nishitetu' <%
      if @scenario_list == "nishitetu"
      %>selected<%
    end
    %>>西鉄台本</option>
    <option value='lavina' <%
      if @scenario_list == "lavina"
      %>selected<%
    end
    %>>ラヴィーナ</option>
    <option value='news' <%
      if @scenario_list == "news"
      %>selected<%
    end
    %>>NEWS</option>
  </select>
    <select name='unchecked' class="form-control">
      <option value='all' <% if @unchecked == "all" %>selected<% end %>>全て</option>
      <option value='checked' <% if @unchecked == "checked" %>selected<% end %>>チェック済</option>
      <option value='unchecked' <% if @unchecked == "unchecked" %>selected<% end %>>未チェック</option>
    </select>
  <span style="font-size:18px;">男</span><select name='men' class="form-control">
    <%for cnt in 0..20 do%><option value='<%=cnt.to_s%>' <%
          if @men == cnt
          %>selected<%
    end
    %>><%=cnt.to_s%></option>
  <%end
    %></select> 
  <span style="font-size:18px;">女</span><select name='women' class="form-control">
    <%for cnt in 0..20 do%><option value='<%=cnt.to_s%>' <%
          if @women == cnt
          %>selected<%
    end
    %>><%=cnt.to_s%></option>
  <%end
    %></select>
  <span style="font-size:18px;">不問</span><select name='num' class="form-control">
    <%for cnt in 0..20 do%><option value='<%=cnt.to_s%>' <%
          if @num == cnt
          %>selected<%
    end
    %>><%=cnt.to_s%></option>
  <%end
    %></select>
    <input type='submit' class="btn btn-sm btn-success" value="検索">
  <input type="checkbox" name="check" value="true" <%
    if @check == "true"
    %>checked="checked"<%
  end
  %>>比率に融通を利かす
    <input type='hidden' name='process' value='search'>
  </form>
  </div>
</div>
